EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=
EXPO_PUBLIC_CONVEX_URL=
CLERK_JWT_ISSUER_DOMAIN=
DEEPSEEK_API_KEY=
DEEPSEEK_MODEL=
EXPO_PUBLIC_POSTHOG_ENABLED=false
EXPO_PUBLIC_POSTHOG_PROJECT_TOKEN=
EXPO_PUBLIC_POSTHOG_HOST=
